Checks: >
  *,
  -misc*,
  -fuchsia*,
  -hicpp*,
  -llvmlibc*,
  -cppcoreguidelines*,
  -altera*,
  -google*,
  -readability*,
  -performance-enum-size,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-use-ranges,
  -modernize-use-default-member-init,
  -boost-use-ranges,
  -bugprone-easily-swappable-parameters,
  -bugprone-assignment-in-if-condition,
  -bugprone-unhandled-self-assignment,
  -bugprone-narrowing-conversions,
  -bugprone-branch-clone,
  -llvm-include-order,
  -cert-dcl58-cpp,
  -cert-dcl59-cpp,
  -cert-oop54-cpp,
  -cert-err58-cpp,
  -cert-msc51-cpp